@import  "http://weloveiconfonts.com/api/?family=zocial";

* {
    font-family: lato;
    border: 1px solid red;

}

/*#udacity { 
    border: 1px solid red;
    background-color: red;
     }

.studentname { 
    border: 1px solid red;
   background-color: red;
     }*/

/* zocial */
[class*="zocial-"]:before {
    font-family: 'zocial',sans-serif;
    font-size: 2.5em;
    text-shadow: 3px 3px 3px grey;
    margin: 10px;
}

footer a:hover {
    color: #f08080;
}

.project:hover {
    color: #f08080;
    text-decoration: underline;
}


.logo img {
/*    margin-left: 10px;
    padding-left: 10px;*/
    width: 100px;
    height: 100px;
}


.topbanner {
  
    /*text-align: right;*/
    text-transform: uppercase;
}

.topbanner h1 {
    font-weight: lighter;
}

.hero {

}

picture img {
    box-shadow: 5px 5px 5px grey;
}

.projects {
    margin-bottom: 1%;
}

.studentname {
/*    margin-right: 10px;*/
}

.header_menu {
  /*  text-align: right;*/
}

.studentname {
    padding-right: 10px;
}

.sectionheading {
    margin-left: 10px;
}

.projects {
   
    padding-top: 1.5rem;
}

.projects h2 {
    text-transform: uppercase;
    font-weight: 400;
}

.projects a {
    font-size: small;
}

.project {
    display: inline;
    margin: auto;
    margin-top: 10px;
}

.project input {
    box-shadow: 0 0 20px grey;
}

.modal-body img {
    margin: auto;
}

.modal-body p {
   /* text-align: center;*/
}

.hero {
    width: 100%;
    height: auto;
}
/*
@media (max-width: 779px) {
     .navbar {
         margin-bottom:10px;

 }
}*/
footer {

    background-color: grey;

}

#row6{ 
overflow: hidden; 
height: 10rem;
}

#red {
    position: relative;
    background: grey;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

#red h5 { 
position: relative;
transform: translateY(50%);
 }

#yellow {
    background: tan;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

#blue {
    background: grey;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    min-height: 200px;
}

/*this still does not work yet because the third div dissapears with small viewport 
*/
