//

*  {
	font-family: lato;
}

@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
  font-size: 2.5em;
  text-shadow: 3px 3px 3px grey;
  margin: 10px;

}

footer a:hover { 
  color: lightcoral;

 }

.project:hover { 
color: lightcoral;
text-decoration: underline;

 }

.topbanner { 
display: flex;
justify-content: space-between;
text-align: right;
align-items: flex-end;
text-transform: uppercase;
}

.topbanner h1 { 
font-weight: lighter;
 }

.hero { 
display: flex;
justify-content: center;
align-self: center;
 }

picture img { 
box-shadow: 5px 5px 5px grey;
 }

.projects { 
margin-bottom: 5%;
 }

.logo img { 
margin-left: 10px; 
padding-left: 10px;
width:100px;
height: 100px;
 }

 .studentname { 
margin-right: 10px;
  }

.header_menu { 
text-align: right;
 }

 .studentname { 
padding-right: 10px;
  }

.sectionheading {
margin-left: 10px; 
}

.projects { 
display: flex;
justify-content: space-around;
flex-flow: row wrap;
padding-top: 1.5rem;
}

.projects h2 { 
text-transform: uppercase;
font-weight: normal;
 }

.projects a {
 	font-size: small;
 }

.project { 
display: inline;
text-align: center;
margin-top: 10px;
 }

 .project input { 
box-shadow: 0 0 20px grey;
  }

.modal-body img {
	margin: auto;
}

.modal-body p { 
text-align: center;
}

.hero { 
width: 100%;
height: auto;
 }

/* @media (max-width: 779px) {
     .navbar {
         margin-bottom:10px;

 }
}*/


 .row { 
display: flex;
background-color: grey;
text-align: center;
align-items: center;
height: 100px;
  }
 

